{% extends 'admin_base.html' %}

{% block title %}Laporan{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Laporan
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('r_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Laporan</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <!-- Date range -->
                <div class="form-group col-sm-4 pull-left">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="report-date">
                        <span class="input-group-btn">
                            <button id="report-submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-arrow-right"></i>
                                OK
                            </button>
                        </span>
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="pull-right" style="margin-right: 10px">
                    <h5><span class="text-bold">Total pendapatan: </span><span id="total-income" class="text-bold">Rp. 000.000</span></h5>
                </div>
                <!-- /.form group -->
            </div>
            <div class="box-body table-responsive">
                <table id="table-report" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kode Produk</th>
                            <th>Nama Produk</th>
                            <th>Harga Modal</th>
                            <th>Harga Jual</th>
                            <th>Terjual</th>
                            <th>Jumlah Pendapatan</th>
                            <th>Tanggal Akhir</th>
                        </tr>
                    </thead>
                    <tbody id="report-date">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Pendapatan Perbulan</h3>

{#                <div class="box-tools pull-right">#}
{#                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
{#                </div>#}
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="chart-income" style="height:250px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}